.SignUp-Container {
    position: relative;
    display: flex;
    margin-top: 200px;
    margin-bottom: 200px;
    margin:0 auto;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 1180px;
    font-family: "Jalnan";
    background-color: white;
}

.SignUp-Main-Box {
    border: 1px solid;
    height: 700px;
    width: 100%;
    padding: 25px auto;
    margin: 200px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    border-radius: 20px;
    min-width: 635px;
    background-color: bisque;
}

.sc-bcXHqe glZSRM {
    margin: 100px;
}

.SignUp-Main-Box2 {
}

.SignUp-card-form {
    margin-right: 0px auto;
}

.SignUp-header {
    margin-bottom: 30px;
}

.SigUp-header-font {
    font-size: 50px;
}

.Input-border-1 {
    border-radius: 20px;
    height: 50px;
    width: 380px;
    padding-left: 20px;
    
}

.Input-border-2 {
    border-radius: 20px;
    margin-left: 100px;
    height: 50px;
    width: 380px;
    padding-left: 20px;
}

.Input-border-3{
    border-radius: 20px;
    height: 50px;
    width: 380px;
    padding-left: 20px;
}

.Input-border-4 {
    border-radius: 20px;
    height: 50px;
    width: 380px;
    padding-left: 20px;
}

.Input-border-5 {
    border-radius: 20px;
    margin-left: 100px;
    height: 50px;
    width: 380px;
    padding-left: 20px;
}

.Input-border-6 {
    border-radius: 20px;
    height: 50px;
    width: 380px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.Input-border-7 {
    border-radius: 20px;
    margin-left: 100px;
    height: 50px;
    width: 380px;
    padding-left: 20px;
}

.Input-border-Id {
    margin-right: 30px;
}

.Input-border-introduce {
    margin-bottom: 25px;
}

.Input-ID-check {
    border-radius: 20px;
}

.Input-Email-check {
    margin-top: 20px;
    margin-left: 300px;
}

.ID-btn {
    margin-left: 20px;
    height: 50px;
    border-radius: 10px;
}

.date {
    width: 380px;
    height: 50px;
    text-align: center;
    border-radius: 20px;
}

.MSG {
    color: orangered;
    font-size: calc(1rem * .8);
    width: 100%;
    margin-bottom: 20px;
    height: 1.5rem;
    margin-right: 20px;
    align-items: center;
}

.Form-item-Gender {
    margin-bottom: 20px;
}

.Man {
    margin-right: 100px;
    font-size: 25px;
}

.Woman {
    margin-right: 100px;
    font-size: 25px;
}

.input {
    width: 30px;
    height: 30px;
    border:1px solid;
    border-radius: 30px;
}


.Select-Sido {
    width: 200px;
    height: 50px;
    border-radius: 20px;
}

.Select-SiGuGun {
    width: 200px;
    height: 50px;
    border-radius: 20px;
}

.SignUp-btn {
    border:none;
}

/*tarms*/

.checkbox-check-all {
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(226, 243, 181);
}

.checkbox-check-single {
    border: 1px solid;
}

.checkbox-check-single {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow-y: auto;
    background-color: rgb(226, 243, 181);
}


.checkbox-check-btn {
    margin-bottom: 20px;
}

.Terms-agree-btn {
    border-radius: 30px;
    font-size: 35px;
    margin-top: 50px;
}





