.SignUp-Container {
    display: grid;
    gap: 20px;
    margin: 0 auto;
    width: 800px;
    height: 800px;
    margin-top: 100px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: scroll;
    align-items: center;
    justify-items: stretch;
}

.Terms-title{
    margin-bottom: 20px;
}

.Terms-content{
    max-height: 100px;
    overflow:scroll;
    background-color: #f7f7f7;
}



.SignUp-Allagree{
    width: 400px;
    margin-left: 20px;
    margin-top: 30px;
    float:left;
}

.checkbox-check-btn1{
    position: relative;
    /* left:380px; */
    top:40px;
    left:25px;
}

.checkbox-check-btn2{
    position: relative;
    /* left:380px; */
    float:right;
    left:40px;
}

.Terms-agree-btn{
    width: 500px;
    margin: 0 auto;
    position: relative;
    bottom: 20px;
    
}

.agreeBtn{
    width:230px;
    margin: 0 10px;
    height: 50px;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #003366;
    color: whitesmoke;
    font-size: 20px;
}

.nonAgreeBtn{
    width:230px;
    margin: 0 10px;
    height: 50px;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    background-color: grey;
    color: whitesmoke;
}

.SignUp-Main-Box{
    max-width: 500px;
    margin: 20px auto 20px;
    background-color: white;
    border: 0.5px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.SignUp-header {
    margin: 50px;
}

.SignUp-Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.SignUp-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.SignUp-Table {
    height: 1100px;
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: space-around
}

.SignUp-item > tr {
    height: 80px;
}

.SignUp-item > th {
    text-align: right;
}

.SignUp-item > td > input {
    border-radius: 25px;
    height: 50px;
    width: 310px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 20px;
    border: 0px;
    outline: none;
}

.SignUp-item > td > select {
    border-radius: 25px;
    height: 50px;
    width: 155px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 20px;
    outline: none;
    border: 0px;
}

.Span-Age {
    display: inline-flex;
    justify-content: flex-start;
}

.Gender {
display: inline-flex;
}

.gender {
    margin: 0;
    padding: 0;
    width: 150px;
    font-size: 1.5rem;
    text-align: center;
}

.gender-checkbox {
    scale: 1.5;
    margin: 0 15px;
}

.Message {
    position: relative;
    color: red;
    font-size: 12px;
    text-align: right;    
    margin-top: 2px;
}

.Chacked-btn {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(0, 11, 59);
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0px;
    outline: none;
    color: white;
}

.SignUp-btn {
    width: 332px;
    height: 50px;
    border-radius: 25px;
    background-color:  rgb(0, 11, 59);
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0px;
    outline: none;
    color: white;
    letter-spacing: 10px;
    position: sticky;
    bottom: 15px
}










