.SignUp-Container {
    display: grid;
    gap: 20px;
    margin: 0 auto;
    width: 800px;
    height: 800px;
    margin-top: 100px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: scroll;
    align-items: center;
    justify-items: stretch;
    background-color: rgba(0, 0, 0, 0.05);
}

.Terms-title{
    margin-bottom: 20px;
}

.Terms-content{
    max-height: 100px;
    overflow:scroll;
    background-color: #f7f7f7;
}


.SignUp-header {
    margin: 50px;
}

.SignUp-Allagree{

    width: 400px;
    margin-left: 20px;
    margin-top: 30px;
    float:left;
}

.checkbox-check-btn1{
    position: relative;
    /* left:380px; */
    top:40px;
    left:25px;
}
.checkbox-check-btn2{
    position: relative;
    /* left:380px; */
    float:right;
    left:40px;
}
.Terms-agree-btn{
    width: 500px;
    margin: 0 auto;
    position: relative;
    bottom: 20px;
    
}

.agreeBtn{
    width:230px;
    margin: 0 10px;
    height: 50px;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #003366;
    color: whitesmoke;
    font-size: 20px;
}

.nonAgreeBtn{
    width:230px;
    margin: 0 10px;
    height: 50px;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    background-color: grey;
    color: whitesmoke;



}


.SignUp-Main-Box{
    max-width: 500px;
    margin: 20px auto 20px;
    background-color: white;
    border: 0.5px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.SignUp-Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.SignUp-item {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.SignUp-Table {
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: space-around
    
}

.SignUp-item > tr {
    height: 80px;
}

.SignUp-item > th {
    text-align: right;
}

.SignUp-item > td > input {
    border-radius: 25px;
    height: 50px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 20px;
}

.SignUp-item > td > select {
    border-radius: 25px;
    height: 50px;
    width: 140px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 20px;
    text-align: center;
}

.gender {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.checkbox {
    scale: 1.5;
    margin: 0 15px;
}

.Message {
    position: relative;
    color: red;
    font-size: 10px;
    text-align: right;    
}

.Chacked-btn {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.SignUp-btn {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}










