/* 
* (top, bottom), (left, right)
* top, (right, left), bottom
* top, right, bottom, left
* ▶ positon ◀
* relative 요소 자기 자신을 기준으로 배치
* absolute 부모(조상) 요소를 기준으로 배치
* fixed    뷰포트 기준으로 배치
* stickey	 스크롤 영역 기준으로 배치




*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');



/* 
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  Navbar-Container 영역
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.Navbar-Container {
  display: flex;
  /* padding: 10px 2rem; */
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* width: 100%; */
  color: #fff;
  background: #29335c;
}
.Navbar-Container a {
  text-decoration: none;
}
.Navbar-Container li {
  list-style: none;
}


/* 
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  header 영역
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* 붙여넣기 : header */
.Navbar-Container header {
  width: 100%;
  background: #29335c;
  top: 0;
  z-index: 1000;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 10px 2rem; */
  transition: all .50s ease;
  position: fixed;
  margin: 0;
}
.Navbar-Container header ul {
  margin: 0;
  padding: 0;
}


/* 
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  logo 영역
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* 붙여넣기 : logo */
.Navbar-Container header .logo {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-right: 5rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.Navbar-Container header .logo img {
  width: 35px;
  margin-right: 5px;
}
.Navbar-Container header .logo span {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
}


/* 
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  Navbar 영역
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.Navbar-Container .Navbar {
  display: flex;
  text-align: left;
  padding: 0;
  align-items: center;
}
.Navbar-Container .Navbar li {
  width: 150px;
  /* background-color: brown; */
  list-style: none;
  position: relative;
  padding: 10px 0;
  transition: 0.5s;
  box-sizing: border-box;
  /* width: 150px; */
  border-right: 1px solid rgba(255, 255, 255, .2);
}
.Navbar-Container .Navbar li a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 20px; 
  /* margin: 0px 30px; */
  transition: all .50s ease;
  display: flex;
}


.Navbar-Container .Navbar li:hover {
  background: #2196f3;
}
.Navbar-Container .Navbar a.active {
  color: yellow;
}

.MBTI-sub-menu {
  position: absolute;
  /* top 은 전체 네비 높이에 따라 다르게 설정할 것! */
  top: 70px; 
  left: 0;
  display: block;
  background: rgb(226, 75, 75);
  /* line-height: 40px; */
  border-radius: 0 0 70px 70px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 0 10px;
  width: 150px;
  text-align: center;
  transition: .5s;
}

.MBTI-sub-menu li {
  padding: 5px;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}



/* 
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  Main-Icon 영역
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.Navbar-Container .Main-Icon  {
  display: flex;
  align-items: center;
  position: absolute;
  right: 2rem;
}
.Navbar-Container .Main-Icon a {
  /* margin-right: 20px; */
  /* margin-left: 10px; */
  /* margin: auto 10px; */
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
  color: white;
}

.User-submenu {
  position: absolute;
  /* top 은 전체 네비 높이에 따라 다르게 설정할 것! */
  top: 61px; 
  right: 2%;
  display: block;
  transition: 0.5s;
  background: rgb(226, 75, 75);
  line-height: 40px;
  border-radius: 0 0 60% 60%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  /* padding: 5px 20px; */
  width: 200px;
  text-align: left;
  color: white;
  transition: all .50s ease;
}

.User-submenu li {
  text-align: center;
  color: white;
  padding: 10px 0;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  transition: all .50s ease;
}

/* 
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  Main-Icon 영역 - User
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
.User {
  display: flex;
  align-items: center;
}
.User span {
  color: pink;
  font-size: 50px;
  margin-right: 7px;
}
.User:hover {
  cursor: pointer;
}

#menu-icon {
  font-size: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

#logout {
  font-size: 1.1rem;
}

/* 
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  반응형
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* @media (max-width: 1280px) {
  .Navbar-Container header {
    padding: 14px 2%;
    transition: .2s;
  }
  .Navbar-Container .Navbar a {
    padding: 5px 0;
    margin: 0px 20px;
  }
} */

@media (max-width: 840px) {
  #menu-icon {
    display: block;
  }
  .Navbar-Container .Navbar {
    position: absolute;
    top: 100%;
    
    right: -100%; /* rigth : 2% ☞ -100% */
    width: 200px;
    height: 30vh; /* 전체 길이*/
    background: purple;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }
  .Navbar-Container .Navbar li {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }
  .Navbar-Container .Navbar a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all .50s ease;
  }
  .Navbar-Container .Navbar a:hover {
    color: #fff;
    transform: translateY(5px);
  }
  .Navbar-Container .Navbar a.active {
    color: #fff;
  }
  .Navbar .open {
    right: 2%;
  }
  .User-submenu .open {
    top: 61px
  }
}